<div class="main-illustration">
    <div class="images">
        <img data-aos="fade-in" src="{{ asset('build/app/images/homepage.jpg') }}" alt="Adhésion à marseille métropole provence volley ball">
    </div>
    {% include "app/layout/components/dots.html.twig" %}
</div>