{% extends 'admin/pages/blog/template.html.twig' %}

{% set page_title %}Gestion des categories{% endset %}
{% set submenuActive = "Catégories" %}

{% block main_content %}
    <div id="blog-categories"></div>
{% endblock %}