{% extends 'admin/pages/blog/template.html.twig' %}

{% set page_title %}Gestion des articles{% endset %}
{% set submenuActive = "Articles" %}

{% block main_content %}
    <div id="blog" data-donnees="{{ donnees }}" data-categories="{{ categories }}"></div>
{% endblock %}