{% extends 'admin/pages/blog/template.html.twig' %}

{% set page_title %}Gestion du blog{% endset %}
{% set submenuActive = "Articles" %}

{% block main_content %}
    <div id="blog"></div>
{% endblock %}