{% extends 'app/pages/legales/template.html.twig' %}

{% block title %}Demande RGPD{% endblock %}

{% block main_content %}
    <div class="main-content">
        <h1>Demande RGPD</h1>
    </div>
{% endblock %}