{% extends 'admin/layout/layout.html.twig' %}

{% set page_title %}Utilisateurs{% endset %}

{% block main_content %}
    <div class="react" id="user"></div>
{% endblock %}

{% block %}
    {{ parent() }}
    {{ encore_entry_script_tags('dashboard_user') }}
{% endblock %}