{% extends 'admin/layout/layout.html.twig' %}

{% set page_title %}Paramètres du site{% endset %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('dashboard_settings') }}
{% endblock %}

{% block main_content %}
    <div id="settings"></div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('dashboard_settings') }}
{% endblock %}