{% extends 'app/pages/security/template.html.twig' %}

{% block title %}Réinitialisation de mot de passe {{ parent() }}{% endblock %}

{% block main_content %}
    <div class="title-page">
        <h1 data-aos="fade-right">Réinitialisation de mot de passe</h1>
    </div>
    <div class="main-content">
        {% if error is defined %}
            <h2>Lien expiré</h2>
            <p>
                Ce lien de réinitialisation de mot de passe a expiré. Veuillez recommencer la procédure. <br><br>
            </p>
            <div class="exceptions-actions">
                <a href="{{ path('app_login') }}" class="btn btn-primary">Recommencer</a>
                <a href="{{ path('app_homepage') }}" class="btn btn-default">Revenir à la page d'accueil</a>
            </div>
        {% else %}
            <div id="reinit" data-token={{ token }}></div>
        {% endif %}
    </div>
{% endblock %}