{% extends 'app/pages/security/template.html.twig' %}

{% block title %}Réinitialisation de mot de passe{% endblock %}

{% block main_content %}
    <div class="main-content">
        <h1>Rénitialiser son mot de passe</h1>
    </div>
{% endblock %}