.alert{
  @include flex(row, flex-start, flex-start);
  padding: 12px;
  border-radius: 4px;
  transition: all 0.2s ease-in-out;
  width: calc(100% - 24px);
  margin-bottom: 12px;

  p{
    font-size: 14px;
    opacity: 0.9;
  }

  [class^="icon-"] {
    opacity: 0.9;

    & + p,
    & + div{
      margin-left: 8px;
      font-size: 14px;
    }
  }

  ul{
    li{
      font-size: 14px;
    }
  }

  .title{
    display: block;
    @include fontSemibold();
    margin-bottom: 4px;
  }
}

$icons:
        "default" var(--alpha) var(--txt) var(--greyShadow),
        "default-reverse" var(--fond) var(--txt) var(--greyShadow),
        "primary" var(--primary) var(--alpha) var(--primaryShadow2),
        "danger" var(--danger) var(--alpha) var(--dangerShadow2),
        "warning" var(--warning) var(--txt) var(--warningShadow2)
;

@each $name, $bg, $txt, $shadow in $icons {
  .alert-#{$name} {
    background: $bg;
    color: $txt;
    box-shadow: 0 5px 10px $shadow;
  }
}