.btn, .btn-icon,
button.swal2-confirm.swal2-styled,
button.swal2-cancel.swal2-styled{
  display: inline-block;
  border-radius: 4px;
  background: none;
  border: none;
  cursor: pointer;
  opacity: 1;
  transition: all 0.2s ease-in-out;
  text-align: center;
  color: var(--txt);

  [class^="icon-"]{
    font-size: 14px;

    & + span:not(.tooltip){
      margin-left: 8px;
    }
  }

  &:hover{
    opacity: .8;
  }

  &.active{
    opacity: 0.9;
  }
}

.btn{
  padding: 11px 24px;
}

.btn-icon{
  position: relative;
  padding: 8px;
  opacity: 0.7;

  &:hover{
    .tooltip{
      opacity: 1;
      z-index: 1;
    }
  }
}

$icons:
        "default" var(--alpha) var(--txt) var(--greyShadow),
        "primary" var(--primary) var(--alpha) var(--primaryShadow2),
        "danger" var(--danger) var(--alpha) var(--dangerShadow2),
        "success" var(--success) var(--alpha) var(--successShadow2),
        "warning" var(--warning) var(--txt) var(--warningShadow2);

@each $name, $bg, $txt, $shadow in $icons {
  .btn-#{$name} {
    background: $bg;
    color: $txt;
    border: 1px solid transparent;
    box-shadow: 0 4px 12px $shadow;
  }

  .btn-outline-#{$name} {
    background-color: var(--alpha);
    color: $bg;
    border: 1px solid $bg;
    box-shadow: 0 4px 12px $shadow;
  }
}

$icons:
        "confirm" var(--primary) var(--alpha) var(--primaryShadow),
        "cancel" var(--danger) var(--alpha) var(--dangerShadow)
;

@each $name, $bg, $txt, $shadow in $icons {
  button.swal2-#{$name}.swal2-styled {
    background: $bg;
    color: $txt;
    border: 1px solid transparent;
    box-shadow: 0 5px 10px $shadow;

    &:hover{
      box-shadow: 0 8px 10px $shadow;

    }
  }
}

.swal2-actions:not(.swal2-loading) button.swal2-styled:hover{
  background-image: none;
}

.btn-default{
  border-color: var(--greyShadow);
}

.btn-outline-default{
  color: var(--txt);
  border-color: var(--grey);
}