@import '~react-dropzone-uploader/dist/styles.css';

.form{
  background-color: var(--alpha);
  border-radius: 4px;
  padding: 12px;

  form{
    & > .alert{
      margin-bottom: 24px;
    }
  }

  h2{
    margin-bottom: 8px;
  }

  .form-infos{
    opacity: 0.7;
    max-width: 414px;
    margin-bottom: 24px;
  }
}

.form-rgpd{
  font-size: 14px;
  color: var(--grey2);
}

.line.line-critere{
  position: absolute;
  width: 0;
  top: 0;
  left: 0;
  opacity: 0;
  z-index: -100;
}

.form-group{
  @include flex(column, flex-start, flex-start);

  .alert{
    width: calc(100% - 24px);
  }


  .react-selectize.default.root-node{
    width: 100%;

    &:not(.open){
      .react-selectize-control{
        background: var(--alpha);
        border: 1px solid var(--grey);

        .react-selectize-placeholder{

        }
      }
    }
  }
}

.line{
  @include flex(column, stretch, flex-start);
  width: 100%;
  margin-bottom: 16px;

  & > .form-group:not(:last-child){
    margin-bottom: 8px;
  }

  & > .line:last-child{
    margin-bottom: 0;
  }
}

.line{
  label{
    display: inline-block;
    font-size: 14px;
    text-transform: uppercase;
    color: var(--grey2);
    margin-bottom: 4px;
  }
}

input, textarea, select{
  border: 1px solid var(--grey);
  padding: 8px 10px;
  border-radius: 3px;
  font-size: 14px;
  width: calc(100% - 20px);
  outline: none;

  &:focus{
    border: 1px solid var(--grey2);
  }
}

select{
  padding: 6.5px 10px;
  width: 100%;
}

.checkbox-items, .radiobox-items{
  @include flex(row, stretch, flex-start);
  flex-wrap: wrap;

  & > .checkbox-item:not(:last-child),
  & > .radiobox-item:not(:last-child),{
    margin-right: 10px;
  }
}
.checkbox-item, .radiobox-item{
  margin-top: 4px;

  &.checked > label{
    border: 1px solid var(--grey2);
    color: var(--beta);
    opacity: 1;

    &:hover{
      background-color: var(--fond);
      border-color: var(--grey);
    }
  }

  label{
    padding: 5px 10px;
    border: 1px dashed var(--grey);
    background: var(--alpha);
    cursor: pointer;
    border-radius: 3px;
    transition: all 0.2s ease-in-out;

    &:hover{
      opacity: 1;
      color: var(--txt);
      border-color: var(--txt);
    }
  }

  input{
    display: none;
  }
}

.radiobox-item{
  label{
    border-radius: 20px;
  }
}

.react-datepicker-wrapper{
  width: 100%;
}

.form-group-date{
  select{
    margin-top: 4px;
  }
}

.form-button{
  & > *{
    width: 100%;
  }
  & > *:not(:last-child){
    margin-bottom: 12px;
  }
}

.form-files{
  @include flex(row, center, flex-start);
  width: 100%;

  .form-image, .form-logo, .form-avatar{
    margin-right: 25px;
  }

  .form-image, .form-logo{
    img{
      width: 100px;
    }
  }

  .form-avatar{
    img{
      border-radius: 100px;
      width: 64px; height: 64px;
    }
  }

  .dzu-dropzone{
    overflow: hidden;
    border: 1px dashed var(--grey);
    width: 100% !important;
    height: auto !important;
    background-color: var(--alpha);
    transition: all 0.2s ease-in-out;

    .dzu-inputLabel{
      @include flex(column, center, center);
      color: var(--grey2);
      text-align: center;
      font-weight: inherit;
      transition: all 0.2s ease-in-out;
    }

    .dzu-inputLabelWithFiles{
      min-height: auto;
      padding: 12px;
      margin: 12px 8px;
      display: inline-block;
      border-radius: 4px;
      opacity: 0.8;
      transition: all 0.2s ease-in-out;
      box-shadow: 0 4px 10px var(--greyShadow);
      font-weight: 400;

      &:hover{
        transform: translateY(-2px);
        opacity: 1;
      }
    }

    &:hover{
      border-color: var(--txt);

      .dzu-inputLabel{
        transform: scale(0.95);
        color: var(--txt);
      }
    }
  }
}

.form-group-error{
  label{
    color: var(--danger);
  }
  input, textarea{
    border-color: var(--danger);
    color: var(--danger);
  }
  .error{
    color: var(--danger);
    padding: 6px 4px 4px 4px;
    font-size: 14px;

    [class^="icon-"]{
      margin-right: 5px;
    }
  }
  .form-files{
    .dzu-dropzone{
      border: 1px dashed var(--danger);

      .dzu-inputLabel{
        color: var(--danger);
      }
    }
  }

  .checkbox-items, .radiobox-items{
    label{
      border-color: var(--danger);
    }
    .checked > label {
      border-color: var(--grey2);
    }
  }
}

.form-files{
  @include flex(row, flex-start, flex-start);

  .form-image, .form-logo, .form-avatar{
    margin-right: 24px;
  }

  .form-image, .form-logo{
    img{
      width: 124px;
    }

    & + .form-group{
      width: calc(100% - 148px);
    }
  }

  .form-avatar{
    img{
      border-radius: 100px;
      width: 64px; height: 64px;
    }
  }
}

.form{
  .password-rules{
    font-size: 14px;
    opacity: 0.7;
  }
}


//                      __   _____ __    ___    __
//                     | _| |___  / /_  ( _ )  |_ |
//    _____ _____ _____| |     / / '_ \ / _ \   | |_____ _____ _____
//   |_____|_____|_____| |    / /| (_) | (_) |  | |_____|_____|_____|
//                     | |   /_/  \___/ \___/   | |
//                     |__|                    |__|
@media (min-width:768px) {
  .line.line-2{
    flex-direction: row;

    & > .form-group:first-child{
      margin-right: 10px;
      width: 50%;
    }
    & > .form-group:last-child{
      margin-left: 10px;
      width: 50%;
    }
  }

  .line.line-3{
    flex-direction: row;

    & > .form-group{
      width: 33%;
    }
    & > .form-group:not(:last-child){
      margin-right: 12px;
    }
  }

  .form-button{
    @include flex(row, stretch, flex-start);

    & > .btn, & > a.btn{
      width: auto;
      margin-bottom: 0;
    }
    & > *:not(:last-child){
      margin-right: 12px;
      margin-bottom: 0;
    }
  }
}
//                      __   _ ____  ___   ___    __
//                     | _| / |___ \( _ ) / _ \  |_ |
//    _____ _____ _____| |  | | __) / _ \| | | |  | |_____ _____ _____
//   |_____|_____|_____| |  | |/ __/ (_) | |_| |  | |_____|_____|_____|
//                     | |  |_|_____\___/ \___/   | |
//                     |__|                      |__|
@media (min-width:1280px) {
  .form {
    padding: 24px;
  }
}
