@import "../vars/vars";

@import "../components/planning";

section{
  margin-bottom: 48px;

  h2{
    margin-bottom: 24px;
  }

  .buttons-items{

    & > *{
      margin-bottom: 12px;
    }

    & > *:not(:last-child){
      margin-right: 12px;
    }
  }
}