@import "../vars/vars";

.items-user{
  .item-body{
    flex-direction: row;
    align-items: stretch;
  }

  .avatar{
    background: var(--fond);
    width: 64px; height: 64px;
    overflow: hidden;
    margin-right: 12px;

    img{
      width: 64px; height: 64px;
    }
  }

  .infos{
    width: calc(100% - 64px - 12px);
    @include flex(column, flex-start, space-between);
  }

  .username, .email{
    word-break: break-all;
  }

  .username{
    @include fontSemibold();
  }

  .email{
    font-size: 14px;
    opacity: 0.7;
  }
}

.form{
  h2{
    margin-bottom: 24px;
  }
}