@import "../vars/vars";

.toolbar{
  .dropdown-items{
    .item{
      @include flex(row, flex-start, flex-start);

      input{
        width: 16px;
        margin-right: 4px;
        cursor: pointer;
      }

      label{
        cursor: pointer;
      }
    }
  }
}

.items-table {
  & > .items > .item{
    align-items: flex-start;
  }

  .item-selector{
    transform: translateY(24px);
  }
}

.items-user{

  .item{
    transition: all 0.2s ease-in-out;
    &:hover{
      transform: translateX(6px);
    }
  }

  .item-body{
    flex-direction: row;
    align-items: stretch;
  }

  .avatar{
    background: var(--fond);
    width: 64px; height: 64px;
    overflow: hidden;
    margin-right: 12px;

    img{
      width: 64px; height: 64px;
    }
  }

  .infos{
    width: calc(100% - 64px - 12px);
    @include flex(column, flex-start, space-between);
  }

  .username, .email{
    word-break: break-all;
  }

  .username{
    @include flex(column, flex-start, flex-start);
    @include fontSemibold();
  }

  .role{
    display: inline-block;
    padding: 4px 8px;
    background: var(--primaryShadow);
    border-radius: 4px;
    font-size: 12px;
    opacity: 0.5;
    margin: 4px 0 8px 0;
  }

  .email{
    font-size: 14px;
    opacity: 0.7;
  }
}

.form{

  h2{
    margin-bottom: 8px;
  }

  form{
    margin-top: 24px;
  }

  .form-infos{
    opacity: 0.7;
    max-width: 414px;
  }

  .password-rules{
    font-size: 14px;
    opacity: 0.7;
  }
}

//                      __   _____ __    ___    __
//                     | _| |___  / /_  ( _ )  |_ |
//    _____ _____ _____| |     / / '_ \ / _ \   | |_____ _____ _____
//   |_____|_____|_____| |    / /| (_) | (_) |  | |_____|_____|_____|
//                     | |   /_/  \___/ \___/   | |
//                     |__|                    |__|
@media (min-width:768px) {
  .toolbar{
    .create{
      width: 195px;
    }
    .filter-search{
      width: calc(100% - 24px - 195px);
    }
  }

  .items-user{

    .infos{
      flex-direction: row;
      align-items: center;
    }

    .username{
      flex-direction: row;
      align-items: center;
      margin-bottom: 8px;
    }

    .role{
      margin: 0 0 0 8px;
    }
  }
}