@import "../vars/vars";

.accordion{

  .accordion-item{
    margin-bottom: 8px;
  }

  .accordion-item-title{
    @include flex(row, center, space-between);
    cursor: pointer;
    @include fontSemibold();
    font-size: 18px;
  }

  .accordion-item-content{
    position: relative;
    z-index: -1;
    opacity: 0;
    height: 0;
  }

  .accordion-item.active{
    .accordion-item-content{
      z-index: 1;
      opacity: 1;
      height: auto;
      margin-top: 4px;
      transition: all 0.2s ease-in-out;
      margin-bottom: 16px;
    }
  }
}