@import "../vars/vars";

.alert{
  @include flex(row, flex-start, flex-start);
  padding: 12px;
  border-radius: 4px;
  transition: all 0.2s ease-in-out;
  width: 100%;
  margin-bottom: 12px;

  p{
    font-size: 14px;
    opacity: 0.9;
  }

  [class^="icon-"] {
    opacity: 0.9;

    & + p{
      margin-left: 8px;
    }
  }

  .title{
    display: block;
    @include fontSemibold();
    margin-bottom: 4px;
  }
}

$icons:
        "default" var(--alpha) var(--txt) var(--greyShadow),
        "primary" var(--primaryShadow) var(--txt) var(--primaryShadow),
        "danger" var(--dangerShadow) var(--txt) var(--dangerShadow),
        "warning" var(--warningShadow) var(--txt) var(--warningShadow);

@each $name, $bg, $txt, $shadow in $icons {
  .alert-#{$name} {
    background: $bg;
    color: $txt;
    border: 1px solid $bg;
    box-shadow: 0 5px 10px $shadow;
  }
}