.toolbar{
  .filters-items-checked {
    & > .item{
      position: relative;
      transition: all 0.2s ease-in-out;

      input{
        display: none;
      }

      label{
        cursor: pointer;
        transition: all 0.2s ease-in-out;
      }

      [class^="icon-"]{
        display: inline-block;
        font-size: 8px;
        padding-left: 8px;
        font-weight: 600;
        cursor: var(--danger);
      }

      &:before{
        content: '';
        position: absolute;
        top: 10px; left: 0;
        display: block;
        width: 0;
        height: 1px;
        background: var(--grey);
        transition: all 0.2s ease-in-out;
      }

      &:hover{
        opacity: 0.7;

        &:before{
          width: 100%;
        }
      }
    }
  }
}