.nav-header-logo{
  padding: 12px;

  img{
    width: 82px;
  }
}

.nav-mobile{
  position: absolute;
  top: 0; right: 0;
  padding: 14px 14px 12px 12px;
  cursor: pointer;
}

.nav-body{
  min-height: 92vh;
  display: none;
  background: var(--fondMenu);
  padding-top: 24px;

  a{
    @include flex(row, center, flex-start);
    padding: 12px;
    width: calc(100% - 24px);
    color: var(--fond);
    opacity: 0.6;

    [class^="icon-"]{
      display: inline-block;
      margin-right: 8px;
    }


    &:hover{
      transform: translateX(5px);
    }

    &.active{
      opacity: 1;
    }
  }

  &.true{
    display: block;
  }
}

//                      __   _  ___ ____  _  _     __
//                     | _| / |/ _ \___ \| || |   |_ |
//    _____ _____ _____| |  | | | | |__) | || |_   | |_____ _____ _____
//   |_____|_____|_____| |  | | |_| / __/|__   _|  | |_____|_____|_____|
//                     | |  |_|\___/_____|  |_|    | |
//                     |__|                       |__|
@media (min-width: 1024px) {
  nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 20%;
    height: 100vh;
    background: var(--fondMenu);
  }

  .nav-mobile{ display: none; }
  .nav-body{
    @include flex(column, flex-start, space-between);
    min-height: 88vh;
    max-height: 88vh;
    overflow: auto;
    @include scrollbar();
  }
}

//                      __   _ ____  ___   ___    __
//                     | _| / |___ \( _ ) / _ \  |_ |
//    _____ _____ _____| |  | | __) / _ \| | | |  | |_____ _____ _____
//   |_____|_____|_____| |  | |/ __/ (_) | |_| |  | |_____|_____|_____|
//                     | |  |_|_____\___/ \___/   | |
//                     |__|                      |__|
@media (min-width:1280px) {
  nav{
    width: 16%;
  }
  .nav-header-logo{
      padding: 24px 32px;
  }
  .nav-body{
    min-height: 84vh;
    max-height: 84vh;

    a{
      padding: 12px 32px;
      width: calc(100% - 64px);
    }
  }
}

//                      __   _  __    ___   ___    __
//                     | _| / |/ /_  / _ \ / _ \  |_ |
//    _____ _____ _____| |  | | '_ \| | | | | | |  | |_____ _____ _____
//   |_____|_____|_____| |  | | (_) | |_| | |_| |  | |_____|_____|_____|
//                     | |  |_|\___/ \___/ \___/   | |
//                     |__|                       |__|
@media (min-width: 1600px){
  nav{
    width: 14%;
  }
}