@import "../vars/vars";

.page-title{
  background: var(--fond);

  h1{
    text-transform: uppercase;
  }
}

.page-title, .page-error{
  padding: 12px 12px 24px 12px;
}

.page-actions{
  .common-actions{
    .dropdown{
      .dropdown-btn{
        background: transparent;
        border: none;
        padding: 8px;
        justify-content: flex-start;
      }
    }
  }
}

.sub-seen{
  [class^="icon-"]{
    display: inline-block;
    margin-right: 4px;
    margin-top: 4px;
  }
}

//                      __   _____ __    ___    __
//                     | _| |___  / /_  ( _ )  |_ |
//    _____ _____ _____| |     / / '_ \ / _ \   | |_____ _____ _____
//   |_____|_____|_____| |    / /| (_) | (_) |  | |_____|_____|_____|
//                     | |   /_/  \___/ \___/   | |
//                     |__|                    |__|
@media (min-width:768px) {
  .page-actions{
    @include flex(row, flex-start, space-between);

    .common-actions{
      .dropdown{
        .dropdown-btn{
          justify-content: centre;
        }
      }
    }
  }
}

//                      __   _  ___ ____  _  _     __
//                     | _| / |/ _ \___ \| || |   |_ |
//    _____ _____ _____| |  | | | | |__) | || |_   | |_____ _____ _____
//   |_____|_____|_____| |  | | |_| / __/|__   _|  | |_____|_____|_____|
//                     | |  |_|\___/_____|  |_|    | |
//                     |__|                       |__|
@media (min-width: 1024px) {
  .page-title, .page-error{
    padding: 12px 24px 24px 24px;
  }
}
//                      __   _ ____  ___   ___    __
//                     | _| / |___ \( _ ) / _ \  |_ |
//    _____ _____ _____| |  | | __) / _ \| | | |  | |_____ _____ _____
//   |_____|_____|_____| |  | |/ __/ (_) | |_| |  | |_____|_____|_____|
//                     | |  |_|_____\___/ \___/   | |
//                     |__|                      |__|
@media (min-width:1280px) {
  .page-title, .page-error{
    padding: 24px 32px 32px 32px;
  }

  .page-title-container, .page-error-container{
    @include maxscreen();
  }
}