@import "../vars/vars";

.tooltip{
  position: absolute;
  top: -20px; right: 4px;
  font-size: 12px;
  background: var(--grey);
  padding: 4px 8px;
  border-radius: 4px;
  opacity: 0;
  z-index: -1;
  transition: all 0.4s ease-in-out;
}