@import "../vars/vars";

.toolbar{
  margin-bottom: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid var(--fond);

  & > .item{
    width: 100%;
  }

  .create{
    .btn{
      width: calc(100% - 48px);
    }
  }

  .filter-search{
    margin-top: 12px;
    @include flex(row, flex-start, flex-start);

    .filter{
      width: 100px;
    }

    .search{
      width: calc(100% - 100px);
    }

    .dropdown-btn{
      padding: 11px 12px;
      border-radius: 3px 0 0 3px;
      justify-content: space-between;
    }

    input[type="search"]{
      padding: 12px 10px;
      width: 100%;
      border-radius: 0 3px 3px 0;
      border-left: none;
    }
  }
}

//                      __   _____ __    ___    __
//                     | _| |___  / /_  ( _ )  |_ |
//    _____ _____ _____| |     / / '_ \ / _ \   | |_____ _____ _____
//   |_____|_____|_____| |    / /| (_) | (_) |  | |_____|_____|_____|
//                     | |   /_/  \___/ \___/   | |
//                     |__|                    |__|
@media (min-width:768px) {
  .toolbar{
    .create{
      .btn{
        width: auto;
      }
    }
  }
}