{% extends 'admin/layout/layout.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block main_content %}
<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

</div>
{% endblock %}
