{% extends 'admin/pages/volley/template.html.twig' %}

{% set page_title %}Gestion des matches{% endset %}

{% block main_content %}
    <div id="matches" data-donnees="{{ donnees }}"></div>
{% endblock %}