{% extends 'admin/layout/layout.html.twig' %}

{% set page_title %}Styleguide{% endset %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('dashboard_styleguide') }}
{% endblock %}

{% block main_content %}
    {% set variantes = [ "default", "primary", "danger", "warning" ] %}
    <div class="main-content">
        {% include "admin/pages/styleguide/components/form.html.twig" %}
        {% include "admin/pages/styleguide/components/buttons.html.twig" %}
        {% include "admin/pages/styleguide/components/alerts.html.twig" %}
    </div>
{% endblock %}
