{% extends 'admin/pages/styleguide/template.html.twig' %}

{% set page_title %}Styleguide React{% endset %}
{% set submenuActive = "React JSX" %}

{% block main_content %}
    <div id="styleguide"></div>
{% endblock %}
