{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ encore_entry_link_tags('dashboard') }}
{% endblock %}

{% block body %}
    {% set menu = [
        {
            'path': path('admin_homepage'),
            'icon': 'home',
            'label': 'Dashboard',
            'name': 'admin'
        }
    ] %}

    <div class="body">
        <nav>
            <div class="nav-header">
                <div class="nav-header-logo">
                    <img src="{{ asset('build/dashboard/images/logilink-logo.svg') }}" alt="Logo du site">
                </div>
            </div>
            <div id="menu" data-menu="{{ menu | json_encode }}"></div>
        </nav>

        <main>

            <header>
                <span>Shanbo</span>
            </header>

            <div class="main">
                {% block main_content %}{% endblock %}
            </div>

            <footer>
                <div class="copyright">Copyright 2020 - Logilink</div>
            </footer>
        </main>
    </div>


{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('dashboard') }}
{% endblock %}