<section>
    <h2>Formulaire</h2>
    <div class="form-items">
        <div class="form">
            <div class="line">
                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" name="username" id="username" placeholder="Nom utilisateur" value=""/>
                    <div class="error"></div>
                </div>
            </div>
            <div class="line line-2">
                <div class="form-group">
                    <label for="password">Mot de passe</label>
                    <input type="password" name="password" id="password" placeholder="*******" value=""/>
                    <div class="error"></div>
                </div>
                <div class="form-group form-group-error">
                    <label for="passwordError">Confirmer mot de passe</label>
                    <input type="password" name="passwordError" id="passwordError" placeholder="*******" value=""/>
                    <div class="error">
                        <span class='icon-warning'></span>
                        <span>Ce champs doit être rempli.</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>