<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="{% block meta_description %}{% endblock %}" />
        <meta name="keywords" content="{% block meta_keywords %}{% endblock %}" />
        {% block noindex %}{% endblock %}
        {% block openGraph %}{% endblock %}
        <link rel="shortcut icon" href="{{ asset('favicon.png') }}" type="image/png">
        <title>{% block title %}{% endblock %}</title>

        {% block stylesheets %}{% endblock %}
    </head>
<body>

    {% if is_granted('IS_IMPERSONATOR') %}
        <div class="impersonate">
            <a href="{{ impersonation_exit_path(path('admin_users_index') ) }}">
                <span class="icon-eject"></span>
                Quitter l'imitation
            </a>
        </div>
    {% endif %}

    <div>
        {# --------------- BODY ---------------- #}
        {% block body %}{% endblock %}
    </div>

    {% block javascripts %}{% endblock %}
</body>
</html>