{% extends 'app/layout/layout.html.twig' %}

{% block title %}Nous contacter{% endblock %}

{% block main_content %}
    <div class="main-content">
        <h1>Nous contacter</h1>
    </div>
{% endblock %}