{% extends 'app/layout/layout.html.twig' %}

{% block title %}Nous contacter{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('contact') }}
{% endblock %}

{% block main_content %}
    <div class="title-page">
        <h1 data-aos="fade-right">Nous contacter</h1>
    </div>

    <div class="main-content">
        <div class="default-page">
            <div class="col-1">
                <div id="contact" data-aos="fade-down"></div>
            </div>
            <div class="col-2">
                {% include "app/layout/components/main-illustration.html.twig" %}
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('contact') }}
{% endblock %}