@import "../vars/vars";

nav.fixed{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--alpha);
  z-index: 1000;

  & + main{
    margin-top: 52px;
  }
}

.nav-header-logo{
  padding: 12px;

  img{
    width: 82px;
  }
}

.nav-mobile{
  position: absolute;
  top: 0; right: 0;
  padding: 14px 14px 12px 12px;
  cursor: pointer;
}

.nav-body{
  min-height: 92vh;
  display: none;
  background: var(--fondMenu);
  padding-top: 24px;

  a, .item-dropdown > span{
    @include flex(row, center, flex-start);
    padding: 12px;
    width: calc(100% - 24px);
    color: var(--fond);
    opacity: 0.6;

    [class^="icon-"]{
      display: inline-block;
      margin-right: 8px;
    }

    &:hover{
      transform: translateY(-5px);
    }

    &.active{
      opacity: 1;
    }
  }

  &.true{
    display: block;
  }

  .item-dropdown{
    flex-direction: column;
    align-items: flex-start;

    a{
      padding: 12px;
      width: calc(100% - 36px);
      margin-left: 12px;

      &:hover{
        transform: translateY(0) translateX(5px);
      }
    }

    & > span {

      & > [class^="icon-"]{
        display: inline-block;
        margin-left: 8px;
        transform: rotate(90deg);
      }

      &:hover{
        transform: translateY(0);
      }
    }
  }
}

//                      __   _  ___ ____  _  _     __
//                     | _| / |/ _ \___ \| || |   |_ |
//    _____ _____ _____| |  | | | | |__) | || |_   | |_____ _____ _____
//   |_____|_____|_____| |  | | |_| / __/|__   _|  | |_____|_____|_____|
//                     | |  |_|\___/_____|  |_|    | |
//                     |__|                       |__|
@media (min-width: 1024px) {
  nav.fixed{
    & + main{
      margin-top: 66px;
    }
  }
  nav{
    background: var(--alpha);
  }
  .nav-container{
    @include flex(row, center, space-between);
    padding: 0 12px;
  }
  .nav-header-logo{
    padding: 0;
  }
  .nav-mobile{ display: none; }
  .nav-body{
    @include flex(row, flex-start, space-between);
    min-height: auto;
    background: transparent;
    padding-top: 0;

    .items{
      @include flex(row, center, flex-start);
    }

    a, .item-dropdown > span{
      padding: 24px 12px;
      color: var(--txt);
      opacity: 0.8;
    }

    .item-dropdown{
      position: relative;

      & > span {
        & > [class^="icon-"]{
          transform: rotate(0deg);
          transition: all 0.2s ease-in-out;
        }
      }

      &:hover{

        & > span {
          & > [class^="icon-"]{
            transform: rotate(90deg);
          }
        }

        .item-dropdown-items{
          z-index: 2000;
          opacity: 1;
          top: 0;
        }
      }
    }

    .item-dropdown-items{
      position: absolute;
      top: -600px;
      left: 0;
      background-color: transparent;
      opacity: 0;
      z-index: -5;
      width: 100%;
      padding-top: 60px;
      transition: opacity 0.2s ease-in-out;

      .item-dropdown-items-container{
        background-color: var(--alpha);
        box-shadow: 0 4px 12px var(--greyShadow);
      }

      a{
        padding: 12px;
        margin-left: 0;
      }

      &:hover{
        z-index: 2000;
        opacity: 1;
        top: 0;
      }
    }
  }
}

//                      __   _ ____  ___   ___    __
//                     | _| / |___ \( _ ) / _ \  |_ |
//    _____ _____ _____| |  | | __) / _ \| | | |  | |_____ _____ _____
//   |_____|_____|_____| |  | |/ __/ (_) | |_| |  | |_____|_____|_____|
//                     | |  |_|_____\___/ \___/   | |
//                     |__|                      |__|
@media (min-width:1280px) {
  .nav-container{
    padding: 0 32px;
  }
}

//                      __   _  __    ___   ___    __
//                     | _| / |/ /_  / _ \ / _ \  |_ |
//    _____ _____ _____| |  | | '_ \| | | | | | |  | |_____ _____ _____
//   |_____|_____|_____| |  | | (_) | |_| | |_| |  | |_____|_____|_____|
//                     | |  |_|\___/ \___/ \___/   | |
//                     |__|                       |__|
@media (min-width: 1600px){
  .nav-container{
    @include maxscreen();
  }
}