{% extends 'app/layout/layout.html.twig' %}

{% block title %}Adhésion{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{#    {{ encore_entry_link_tags('contact') }}#}
{% endblock %}

{% block main_content %}
    <div class="title-page">
        <h1 data-aos="fade-right">Modalités d'adhésion</h1>
    </div>

    <div class="main-content">
        <div class="default-page">
            <div class="col-1">
                <div class="how-register" data-aos="fade-down">
                    <h2>Comment s'inscrire ?</h2>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis suscipit est
                        non purus iaculis, sed ultrices est imperdiet. Quisque a ante tincidunt,
                        malesuada massa sed, pulvinar eros. Integer sed condimentum enim. Sed vel
                        malesuada risus, sit amet elementum neque. Sed pharetra auctor vulputate.
                        Suspendisse potenti. Sed et iaculis tellus. Integer augue augue, viverra a
                        lectus maximus, commodo ultrices erat. Fusce a velit diam. Morbi vehicula
                        in nibh eu cursus.
                    </p>
                    <a href="" class="btn btn-color0">
                        Télécharger le formulaire d'adhésion
                    </a>
                </div>
                <div class="what-tarif" data-aos="fade-down" data-aos-delay="200">
                    <h2>Tarifs et paiement</h2>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis suscipit est
                        non purus iaculis, sed ultrices est imperdiet. Quisque a ante tincidunt,
                        malesuada massa sed, pulvinar eros.
                    </p>
                    <div class="tarifs">
                        <div class="item">
                            <div class="title">Tarifs plein annuel</div>
                            <ul>
                                <li>Item 1</li>
                                <li>Item 2</li>
                            </ul>
                        </div>
                        <div class="item">
                            <div class="title">Tarifs plein annuel étudiant</div>
                            <ul>
                                <li>Item 1</li>
                                <li>Item 2</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-2">
                {% include "app/layout/components/main-illustration.html.twig" %}
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{#    {{ encore_entry_script_tags('contact') }}#}
{% endblock %}