<div class="submenu">
    <div class="submenu-container">
        {% if submenu is defined %}
            {% for item in submenu %}
                <a href="{{ item.path }}" class="{{ item.label == submenuActive ? "active" : ""}}">{{ item.label }}</a>
            {% endfor %}
        {% endif %}
    </div>
</div>