@import "~normalize.css";
@import "~toastr";
@import "~react-selectize/dist/index.min.css";

:root{
    --color0: #a9aac9;
    --primary: #1e87f0;
    --primaryNuance0: #d8eafc;
    --primaryNuance1: #d8eafc;
    --danger: #f7685b;
    --dangerNuance0: #ffdde4;
    --error: #ff5444;
    --warning: #fdad2d;
    --warningNuance0: #fff0dc;
    --success: #2ed47a;
    --grey: #c7c7c7;
    --grey2: #929292;

    --color0Shadow: rgba(169, 170, 201, 0.4);
    --primaryShadow: rgba(16, 156, 241, 0.4);
    --primaryShadow2: rgba(16, 156, 241, 0.1);
    --dangerShadow: rgba(247, 104, 91, 0.4);
    --dangerShadow2: rgba(247, 104, 91, 0.1);
    --dangerFondError: rgba(247, 104, 91, 0.05);
    --warningShadow: rgba(255, 185, 70, 0.4);
    --warningShadow2: rgba(255, 185, 70, 0.1);
    --successShadow: rgba(46, 212, 122, 0.4);
    --successShadow2: rgba(46, 212, 122, 0.1);
    --greyShadow: rgba(199,199,199, 0.2);
    --greyShadow2: rgba(199,199,199, 0.1);

    --overlay: rgba(14, 14, 14, 0.5);

    --alpha: #fff;
    --beta: #000;

    --txt: #101010;
    --fond: #e8e8e8;
    --fondContent: #f6f6f6;
    --fondMenu: #212121;
}

@import "vars/fonts";
@import "vars/vars";

@import "components/menu";
@import "components/footer";

@import "components/loader";
@import "components/form";
@import "components/button";
@import "components/alert";
@import "components/aside";
@import "components/exception";
@import "components/legales";
@import "components/pagination";
@import "components/cookies";
@import "components/page";
@import "components/toastr-custom";

html, body{
    scroll-behavior: smooth;
}

body {
    color: var(--txt);
    @include fontRegular();
}

img{
    width: 100%;
}

a{
    text-decoration: none;
    transition: all 0.2s ease-in-out;
}
h1, h2, h3, h4, p{
    margin: 0;
}

h1{
    @include fontBold();
    margin-bottom: 24px;
}

h2{
    @include fontSemibold();
    text-transform: uppercase;
}

main{
    background: var(--fondContent);
}

.main-content{
    min-height: 100vh;
    padding: 14px 12px 12px 12px;
    background-color: var(--fondContent);
}

.matomo-iframe-display.remove{
    display: none;
}

//                      __   _ ____  ___   ___    __
//                     | _| / |___ \( _ ) / _ \  |_ |
//    _____ _____ _____| |  | | __) / _ \| | | |  | |_____ _____ _____
//   |_____|_____|_____| |  | |/ __/ (_) | |_| |  | |_____|_____|_____|
//                     | |  |_|_____\___/ \___/   | |
//                     |__|                      |__|
@media (min-width:1280px) {
    .main-content{
        padding: 24px 32px;
    }
}

//                      __   _  __    ___   ___    __
//                     | _| / |/ /_  / _ \ / _ \  |_ |
//    _____ _____ _____| |  | | '_ \| | | | | | |  | |_____ _____ _____
//   |_____|_____|_____| |  | | (_) | |_| | |_| |  | |_____|_____|_____|
//                     | |  |_|\___/ \___/ \___/   | |
//                     |__|                       |__|
@media (min-width: 1600px){
    .main-content{
        @include maxscreen();
    }
}