@import "~normalize.css";
@import "~toastr";

:root{
    --color0: #a9aac9;
    --primary: #00a8e8;
    --danger: #d57d7d;
    --warning: #e7d087;

    --color0Shadow: rgba(169, 170, 201, 0.4);
    --primaryShadow: rgba(0,168,232, 0.4);
    --primaryShadow2: rgba(0,168,232, 0.1);
    --dangerShadow: rgba(213,125,125, 0.4);
    --dangerShadow2: rgba(213,125,125, 0.1);
    --warningShadow: rgba(231,208,135, 0.4);
    --warningShadow2: rgba(231,208,135, 0.1);

    --grey: #c7c7c7;
    --grey2: #929292;

    --greyShadow: rgba(199,199,199, 0.2);

    --overlay: rgba(14, 14, 14, 0.5);

    --alpha: #fff;
    --beta: #000;

    --txt: #101010;
    --fond: #e8e8e8;
    --fondContent: #f6f6f6;
    --fondMenu: #212121;
}

@import "vars/fonts";
@import "vars/vars";

@import "components/menu";
@import "components/footer";

@import "components/loader";
@import "components/form";
@import "components/button";
@import "components/alert";
@import "components/aside";
@import "components/exception";
@import "components/legales";
@import "components/pagination";
@import "components/cookies";
@import "components/page";

html, body{
    scroll-behavior: smooth;
}

body {
    color: var(--txt);
    @include fontRegular();
}

img{
    width: 100%;
}

a{
    text-decoration: none;
    transition: all 0.2s ease-in-out;
}
h1, h2, h3, h4, p{
    margin: 0;
}

h1{
    @include fontBold();
    margin-bottom: 24px;
}

h2{
    @include fontSemibold();
    text-transform: uppercase;
}

main{
    background: var(--fondContent);
}

.main-content{
    min-height: 100vh;
    padding: 14px 12px 12px 12px;
    background-color: var(--fondContent);
}

.matomo-iframe-display.remove{
    display: none;
}

//                      __   _ ____  ___   ___    __
//                     | _| / |___ \( _ ) / _ \  |_ |
//    _____ _____ _____| |  | | __) / _ \| | | |  | |_____ _____ _____
//   |_____|_____|_____| |  | |/ __/ (_) | |_| |  | |_____|_____|_____|
//                     | |  |_|_____\___/ \___/   | |
//                     |__|                      |__|
@media (min-width:1280px) {
    .main-content{
        padding: 24px 32px;
    }
}

//                      __   _  __    ___   ___    __
//                     | _| / |/ /_  / _ \ / _ \  |_ |
//    _____ _____ _____| |  | | '_ \| | | | | | |  | |_____ _____ _____
//   |_____|_____|_____| |  | | (_) | |_| | |_| |  | |_____|_____|_____|
//                     | |  |_|\___/ \___/ \___/   | |
//                     |__|                       |__|
@media (min-width: 1600px){
    .main-content{
        @include maxscreen();
    }
}