@import "~normalize.css";

:root{
    --primary: #9d4edd;
    --danger: #ff6b6b;
    --warning: #ffe66d;

    --grey: #c7c7c7;
    --grey2: #929292;

    --alpha: #fff;
    --beta: #000;

    --txt: #101010;
    --fond: #e8e8e8;
}

@import "vars/fonts";
@import "vars/vars";

@import "components/menu";

body {
    color: var(--txt);
    background-color: var(--fond);
    @include fontRegular();
}

img{
    width: 100%;
}

a{
    text-decoration: none;
}
h1, h2, h3, h4, p{
    margin: 0;
}

h1{
    @include fontBold();
}

.main{
    min-height: 100vh;
}