@import "~normalize.css";
@import "~toastr";

:root{
    --primaryNuance: #7b7dec;
    --dangerNuance: #e53f3f;
    --warningNuance: #e7cd34;

    --primary: #aeb8f6;
    --danger: #e59595;
    --warning: #e7d087;

    --primaryNuanceShadow: rgba(174,175,246, 0.4);
    --dangerNuanceShadow: rgba(229,74,74, 0.4);
    --warningNuanceShadow: rgba(231, 205, 52, 0.4);

    --primaryShadow: rgba(177,178,232, 0.4);
    --dangerShadow: rgba(229,149,149, 0.4);
    --warningShadow: rgba(231,205,135, 0.4);

    --grey: #c7c7c7;
    --grey2: #929292;

    --greyShadow: rgba(199,199,199, 0.2);

    --overlay: rgba(14, 14, 14, 0.5);

    --alpha: #fff;
    --beta: #000;

    --txt: #101010;
    --fond: #e8e8e8;
    --fondContent: #f6f6f6;
    --fondMenu: #212121;
}

@import "vars/fonts";
@import "vars/vars";

@import "components/menu";
@import "components/header";
@import "components/footer";

@import "components/page";
@import "components/submenu";
@import "components/loader";
@import "components/pagination";
@import "components/toolbar";
@import "components/table";
@import "components/impersonate";

@import "components/button";
@import "components/alert";
@import "components/tooltip";
@import "components/form";
@import "components/dropdown";

html, body{
    scroll-behavior: smooth;
}

body {
    color: var(--txt);
    @include fontRegular();
}

img{
    width: 100%;
}

a{
    text-decoration: none;
    transition: all 0.2s ease-in-out;
}
h1, h2, h3, h4, p{
    margin: 0;
}

h1{
    @include fontBold();
}

h2{
    @include fontSemibold();
    text-transform: uppercase;
}

main{
    background-color: var(--fondContent);
}

.main-content{
    min-height: 100vh;
    padding: 12px;
    margin-top: 24px;
}

//                      __   _  ___ ____  _  _     __
//                     | _| / |/ _ \___ \| || |   |_ |
//    _____ _____ _____| |  | | | | |__) | || |_   | |_____ _____ _____
//   |_____|_____|_____| |  | | |_| / __/|__   _|  | |_____|_____|_____|
//                     | |  |_|\___/_____|  |_|    | |
//                     |__|                       |__|
@media (min-width: 1024px) {
    .body{
        @include flex(row, flex-start, flex-start);
    }
    main{
        width: 80%;
        margin-left: 20%;
    }
}

//                      __   _ ____  ___   ___    __
//                     | _| / |___ \( _ ) / _ \  |_ |
//    _____ _____ _____| |  | | __) / _ \| | | |  | |_____ _____ _____
//   |_____|_____|_____| |  | |/ __/ (_) | |_| |  | |_____|_____|_____|
//                     | |  |_|_____\___/ \___/   | |
//                     |__|                      |__|
@media (min-width:1280px) {
    main{
        width: 84%;
        margin-left: 16%;
    }
    .main-content{
        padding: 24px 32px;
    }
}

//                      __   _  __    ___   ___    __
//                     | _| / |/ /_  / _ \ / _ \  |_ |
//    _____ _____ _____| |  | | '_ \| | | | | | |  | |_____ _____ _____
//   |_____|_____|_____| |  | | (_) | |_| | |_| |  | |_____|_____|_____|
//                     | |  |_|\___/ \___/ \___/   | |
//                     |__|                       |__|
@media (min-width: 1600px){
    main{
        width: 86%;
        margin-left: 14%;
    }
    .main-content{
        @include maxscreen();
    }
}